/* 

dark cyan #163347;
light blue #00B6ED;
green #7ED321;
pink #E3B6FF;
yellow #F8E71C;
red #D0021B;
dark blue #124A63;
grey #637C8E

*/

html,
body,
#root,
.full {
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.ag-header,
.ag-footer {
  /* flex-basis: 70px; */
  width: 100%;
  opacity: .8;
  height: 70px;
  color: #FFF;
}

.ag-main {
  width: 100%;
  height: calc(100% - 140px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.ag-rounded {
  border-radius: 19px!important;
}

.ag-href {
  color: #FFF;
  cursor: pointer;
}

.ag-href:hover {
  color: #FFF;
}

#videos{
  padding: 10px;
  position: relative;
  height: 100%;
  width: 98%;
  margin: auto;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  align-items: center;
  border-radius: 12px;
}

.vid{
  position: relative;
  background-color:black;
  height: 95%;
  width: 92%;
  border-width: 1px;
  border-color: #38373A;
  border-style: solid;
}

.vidOwn{
  position: absolute;
  background-color:black;
  top: 29px;
  right: 0;
  height: 150px;
  width: 150px;
  border-width: 1px;
  border-color: #38373A;
  border-style: solid;
  z-index: 9999;
}

.vidAlone{
  position: relative;
  background-color:black;
  height: 95%;
  width: 100%;
  border-width: 1px;
  border-color: #38373A;
  border-style: solid;
}

.controls{
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 33%);
  align-items: center;
  justify-items: center;
  z-index: 1;
  width: 250px;
  max-width: 60vw;
}

.controls p{
  padding: 10px;
  cursor: pointer;
  background: #38373A;
  color: #F7F7F7;
  border-radius: 10px;
}

.controls p.on{
  background: #F7F7F7;
  color: #38373A;
  border-width: 1px;
  border-radius: 10px;
}

/* wrapper vidio */

.meeting.wrapper {
  background: rgb(12, 43, 64);
  height: 100%;
}

video {
  max-width: unset;
}

.meeting .ag-header-onvidio {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

}

.ag-header-lead {
  font-size: 16px;
  line-height: 35px;
}

.meeting .ag-footer-onVid {
  padding: 20px 30px;
  display: flex;
  align-items: center;
}

.meeting .ag-main {
  position: relative;
}

.meeting .ag-footer-onVid :first-child {
  margin-right: 80px;
}

.header-logo {
  width: 60px;
  height: 35px;
  margin-right: 12px;
}

.ag-container {
  width: calc(100% - 60px);
  height: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, .1);
  border-radius: 12px;
}

.ag-btn {
  z-index: 12;
  opacity: 0;
  color: white;
  /* width: 35px;
    height: 35px; */
  cursor: pointer;
  font-size: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}